{% extends 'base.html.twig' %}

{% block title %}{% trans %}Plants Display{% endtrans %}{% endblock %}
{% import _self as plantRendinator %}
{% block body %}
    {% macro recursivePlant(plant) %}
        {% import _self as macro %}
        <li>
            <h4><a href="{{ path('plant_show', {'id': plant.id}) }}">{{ plant.categoryname }}</a></h4>
            {% if plant.inheritingPlants.snapshot|length %}
                <ul>
                    {% for child in plant.inheritingPlants.snapshot %}
                        {{ macro.recursivePlant(child) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endmacro %}
    <h1 class="display-4">{% trans %}Plant Display{% endtrans %}</h1>
    {% if plants %}
        <h2>{% trans %}Recursive display order{% endtrans %}</h2>
        <div id="plants-recursive">
            <ul>
                {% for plant in plants %}
                    {{ plantRendinator.recursivePlant(plant) }}
                {% endfor %}
            </ul>
        </div>
        <h2>{% trans %}Iterative display order{% endtrans %}</h2>
        <div id="plants-iterative">
            {{ bfsIteration(plants) | raw }}
        </div>
    {% endif %}
{% endblock %}
